<div style="text-align:center;">
	<h1 style="color: #33bfc8; padding:15px; font-size:32px;" id="notice"><%= notice %></h1>

	<p>
	  <strong>Email:</strong>
	  <%= @client.email %>
	</p>

	<p>
	  <strong>Api Key:</strong>
	  <%= @client.key %>
	</p>

	<p>
	  <strong> Num de Requests:</strong>
	  <%= @client.count %>
	</p>
</div>